#divChart {
    margin-top: 5%;
    display: block;
    width: 70%;
    height: 70%
}

#numberCvCard {
    background-color:rgb(211,211,211);
    margin-top: 5%;
    display: block;
    width: 20%;
    height: 70%;
}

#numberCv {
    color: orange;
    border-color: black;
}
    
