<div class="container-clients-managers">
  <div class="table-reponsive-clients-managers">

    <div class="central-container-table-clients-managers">
      <h1 class="form-title text-center ">CLIENTS & MANAGERS</h1>


      <span class="contact100-form-symbol">
        <i class="fas fa-portrait fa-3x"></i>

      </span>
      <div class="tabs">
        <input type="radio" id="tab1" name="tab-control" checked>
        <input type="radio" id="tab2" name="tab-control">
        <ul>
          <li><label for="tab1" role="button"><span id="client" (click)="getAllClients()">Clients</span></label></li>
          <li><label for="tab2" role="button"><span id="manager" (click)="getAllManagers()">Managers</span></label></li>
          <li>
            <input
              #search
              id="search"
              type="text"
              class="form-control"
              placeholder="Search"
              aria-label="Search"
              aria-describedby="basic-addon1"
              (keyup)="updateFilter($event)"
            /></li>
          <li class="nav-item float-right w-auto mr-2">
            <button  type="button" class="nav-link btnAdd " (click)="add()" *ngIf="isManager == false">
              <img src="assets/imagens/plus.png" class="addBtn-style">
            </button>
          </li>
        </ul>
        <div class="slider"><div class="indicator"></div>
      </div>

      <ngx-datatable #table class="material" [rows]="rows" [columnMode]="ColumnMode.force" headerHeight="50" footerHeight="50"
        rowHeight="auto">
        <ngx-datatable-column name="Name">
          <ng-template let-row="row"  ngx-datatable-cell-template>
            {{row.name}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="NIPC" *ngIf="isManager == false">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.nipc}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Unit"  *ngIf="isManager == true">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.unit?.nameUnit || ""}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Action" [sortable]="false">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <button class="btn btn-warning" id="editButton" (click)="edit(row)"><img src="assets/imagens/edit.png" width="15"
              height="15"></button>
            <button class="btn btn-danger" id="delButton" (click)="remove(row)" *ngIf="tokenInfo['role'] == 'SuperUser' || (tokenInfo['role'] == 'director' && row.count == 0)"><img src="assets/imagens/trashIcon.png" width="15"
              height="15"></button>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>

    </div>

    <form class="form-group">

      <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
        aria-labelledby="dialog-sizes-name1" [config]="{backdrop: 'static',  keyboard: false}">

        <div class="modal-dialog">
          <div class="modal-content">

            <div class="modal-header">
              <h4 id="dialog-sizes-name1" class="modal-title pull-left">
                <strong *ngIf="isEdit == false"> Create Client</strong>
                <strong *ngIf="isEdit == true"> Edit {{currentType}}</strong>
              </h4>
              <button type="button" class="close pull-right" (click)="hide()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div class="modal-body">
              <form [formGroup]="clientForm" *ngIf="isManager==false"  >

                <div class="row form-group">
                  <div class="col-2 pt-1">
                    <label for="">Name: </label>
                  </div>
                  <div class="col-10">
                    <input type="text" name="name" formControlName="name" class="form-control w-75 form-control-sm mb-4"
                      placeholder="Insert your name" required />
                  </div>
                </div>

                <div class="row form-group" >
                  <div class="col-2 pt-1">
                    <label for="">NIPC: </label>
                  </div>
                  <div class="col-10">
                    <input type="text" name="nipc" formControlName="nipc" minlength="9" maxlength="9" class="form-control w-75 form-control-sm mb-4"
                      placeholder="Insert your NIPC" required />
                  </div>

                </div>
                <div class="row form-group" [formGroup]="managerForm" *ngIf="isManager != false">
                  <div class="col-2 pt-1">
                    <label for="">Unit: </label>
                  </div>
                  <div class="col-10" formGroupName="unit">
                    <select class="form-control w-75 form-control-sm mb-4" formControlName="id" name="unit" >
                      <option value="" disabled hidden>Please select one unit</option>
                      <option *ngFor="let unit of units$ | async ; let i = index" value={{unit.id}}> 
                        {{unit.nameUnit}} 
                      </option>
                    </select>
                  </div>
                </div>
                
                <button class="btn btn-primary" [disabled]="clientForm.status !== 'VALID'" *ngIf="isCreate==true" (click)="addClient()">Add</button>
                <button class="btn btn-primary" [disabled]="clientForm.status !== 'VALID'" *ngIf="isCreate==false" (click)="editUser()">Edit</button>
                <p>{{postData}}</p> 
              </form>

              <form [formGroup]="managerForm"  *ngIf="isManager==true"  (ngSubmit)="editUser()">
                <div class="row form-group">
                  <div class="col-2 pt-1">
                    <label for="">Name: </label>
                  </div>
                  <div class="col-10">
                    <input type="text" name="name" formControlName="name" class="form-control w-75 form-control-sm mb-4"
                      placeholder="Insert your name" required />
                  </div>
                </div>
                <div class="row form-group" [formGroup]="managerForm" *ngIf="isEdit == true && isManager == true">
                  <div class="col-2 pt-1">
                    <label for="">Unit: </label>
                  </div>
                  <div class="col-10" formGroupName="unit">
                    <select class="form-control w-75 form-control-sm mb-4" formControlName="id" name="unit" >
                      <option value="" disabled hidden>Please select one unit</option>
                      <option *ngFor="let unit of units$ | async ; let i = index" value={{unit.id}}>
                        {{unit.nameUnit}}
                      </option>
                    </select>
                  </div>
                  
                </div>
                
                <button class="btn btn-primary" [disabled]="managerForm.status !== 'VALID'">Edit</button>
                <p>{{postData}}</p> 
              </form>

            </div>
          </div>
        </div>
      </div>
    </form>
    <app-layout-nav-bar></app-layout-nav-bar>