.container-clients-managers {
    width: 100%;  
    min-height: 100vh;
    background: #e6e6e6;
    padding: 20px;
    /* z-index: -2;
    overflow: hidden; */
    position: relative;

}
.container-clients-managers::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(173,173,173,0.4);
    pointer-events: none;
    
  }

.central-container-table-clients-managers {
    width: 87%; 
    margin-top: 100px; 
    margin-left: auto;
    margin-right: auto;
    position: relative; 
    background: #fff;
    border-radius: 10px;
    padding: 62px 55px 90px 55px;
    border: solid #817f7f;
    border-width: 2px;
    box-shadow: 10px 10px 5px grey;
}
.form-btn-submit-create{
    align-items: center;
    padding: 0 20px;
    width: 34%;
    height: 50px;
    background-color: #F95102;
    border-radius: 10px;
    margin-top: 20px;
    color: #e6e6e6;
}

label{
    font-size: 15px;
}

.btn.btn-primary:disabled {
    color: #fff;
    background-color: #8694a3;
    border-color: #8694a3;
}

.span-custom{
  color:black;
}

.btn-custom {
    background-color: #f55800;
    border-color: #f55800;
    color: white;
  }
  .btn-custom:hover,
  .btn-custom:focus,
  .btn-custom:active,
  .btn-custom.active {
    background-color: #ff8239;
    border-color: #ff8239;
  }
  .btn-custom.disabled:hover,
  .btn-custom.disabled:focus,
  .btn-custom.disabled:active,
  .btn-custom.disabled.active,
  .btn-custom[disabled]:hover,
  .btn-custom[disabled]:focus,
  .btn-custom[disabled]:active,
  .btn-custom[disabled].active,
  fieldset[disabled] .btn-custom:hover,
  fieldset[disabled] .btn-custom:focus,
  fieldset[disabled] .btn-custom:active,
  fieldset[disabled] .btn-custom.active {
    background-color: #f55800;
    border-color: #f55800;
  }
  

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: black;
  background-color:#F0F0F0;
  border-color: #dee2e6 #dee2e6 #fff;
  box-shadow: 0 30px 15px rgba(145, 92, 182, .4);
}

.nav-tabs .nav-link {
  border: 1px solid transparent;
  background-color: white;
  border-top-left-radius: 0; 
  border-top-right-radius: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif !important;
    font-size: 1rem;
}

.addBtn-style {
  width: 35%;
}

.btnAdd {
  padding: 0.5px;
  border-color: #e46310;
  border-radius: 10px;
  background-color: white;
  width: 5em;
  height: 2.5em;
}

#editButton {
  background-color: #e7b91f;
  border-color: #fca772;
  color: #cccccc
}

#delButton {
  background-color: #d82222;
  border-color: #fca772;
  color: #cccccc;
  margin: 0.5em;
}

/* colors */
$blue: #e46310;
$red: #FF4A53;
$dark: #333;

$accent: $blue;
$accent-inactive: desaturate($accent, 85%);
$secondary: $accent-inactive;


/* tab setting */
$tab-count: 11;
$indicator-width: 50px;
$indicator-height: 4px;

/* breakpoints */
/* $breakpoints: (
  medium: #{$tab-count*250px},
  small: #{$tab-count*150px}
); */


/* selectors relative to radio inputs */
$label-selector: "~ ul > li";
$slider-selector: "~ .slider";
$content-selector: "~ .content > section";

@mixin tabs(
  $label-selector: $label-selector,
  $slider-selector: $slider-selector,
  $content-selector: $content-selector) {
    
  @for $i from 1 through $tab-count {
    &:nth-of-type(#{$i}):checked {
      #{$label-selector}:nth-child(#{$i}) {
        @content;
      }

      #{$slider-selector} {
        transform: translateX(#{100% * ($i - 1)});
      }

      #{$content-selector}:nth-child(#{$i}) {
        display: block;
      }
    }
  }
}

html {
  width: 100%;
  height: 100%;
}

body {
  background: #efefef;
  color: $dark;
  font-family: "Raleway";
  height: 100%;
  
  h1 {
    text-align: center;
    color: $accent;
    font-weight: 300;
    padding: 40px 0 20px 0;
    margin: 0;
  }
}

.tabs {
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  background: white;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 5px;
  min-width: #{$tab-count * 60px};
  input[name="tab-control"] {
    display: none;
  }
  
  .content section h2,
  ul li label {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 18px;
    color: $accent;
  }
  
  ul {
    padding-top: 10px;
    list-style-type: none;
    padding-left: 0;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    
    li {
      box-sizing: border-box;
      flex: 1;
      width: 9%;
      text-align: center;
      display:inline-flex;
      
      
      label {
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif !important;
        font-size: 1rem;
        transition: all 0.3s ease-in-out;
        color: $secondary;
        padding: 5px auto;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        white-space: nowrap;
        -webkit-touch-callout: none;
        margin-left: auto;
    margin-right: auto;
        
        br {
          display: none;
        }
        
        svg {
          fill: $secondary;
          height: 1.2em;
          vertical-align: bottom;
          margin-right: 0.2em;
          transition: all 0.2s ease-in-out;
        }
        
        &:hover,
        &:focus,
        &:active {
          outline: 0;
          color: lighten($secondary, 15%);
          svg {
            fill: lighten($secondary, 15%);
          }
        }
      }
    }
  }
  
  .slider {
    position: relative;
    width: #{100%/$tab-count};
    transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
    margin-bottom: 10px;
    margin-top: -10px;
    .indicator {
      
      position: relative;
      width: $indicator-width;
      max-width: 100%;
      margin: 0 auto;
      height: $indicator-height;
      background: $accent;
      border-radius: 1px;     
    }

  }
  
  .content {
    margin-top: 30px;
    
    section {
      display: none;
      animation: {
        name: content;
        direction: normal;
        duration: 0.3s;
        timing-function: ease-in-out;
        iteration-count: 1;
      }
      line-height: 1.4;
      
      h2 {
        color: $accent;
        display: none;
        &::after {
          content: "";
          position: relative;
          display: block;
          width: 30px;
          height: 3px;
          background: $accent;
          margin-top: 5px;
          left: 1px;
        }
      }
    }
  }
  
  input[name="tab-control"] {
    @include tabs {
      > label {
        cursor: default;
        color: $accent;
        
        svg {
          fill: $accent;
        }
        
        /* @media (max-width: map-get($breakpoints, small)) {
          background: rgba(0, 0, 0, 0.08);
        } */
      }
    }
  }

  @keyframes content {
    from {
      opacity: 0;
      transform: translateY(5%);
    }
    to {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  
  /* @media (max-width: map-get($breakpoints, medium)) {
    ul li label {
      white-space: initial;
      
      br {
        display: initial;
      }
      
      svg {
        height: 1.5em;
      }
    }
  }
   */
 /*  @media (max-width: map-get($breakpoints, small)) {
    ul li label {
      padding: 5px;
      border-radius: 5px;
      
      span {
        display: none;

      }
    }
    
    .slider {
      display: none;
    }
    
    .content {
      margin-top: 20px; 
      section h2 {
        display: block;
      }
    }
  }*/
} 