 <div [hidden]="!escondido" (click)="graphClickEvent($event)"  class="chart-container" style="position: relative; height:40vh; width:80vw">
<canvas #myChart ></canvas>
</div>

<div [hidden]="escondido" class="chart-container" style="position: relative; height:40vh; width:80vw">
<canvas (click)="graficoInicial()"  #myDetail></canvas>
<button (click)="graficoInicial()"  >VOLTAR PARA GRÁFICO INICIAL</button>
</div>

<!--  <ngx-charts-bar-vertical 
[view]="view"
[scheme]="colorScheme"
[results]="single"
[gradient]="gradient"
[xAxis]="showXAxis"
[yAxis]="showYAxis"
[legend]="showLegend"

(click)="graphClickEvent($event)"

[showXAxisLabel]="showXAxisLabel"
[showYAxisLabel]="showYAxisLabel"
[xAxisLabel]="xAxisLabel"
[yAxisLabel]="yAxisLabel"
(select)="onSelect($event)">
</ngx-charts-bar-vertical> -->

