
<div class="container-100">
<div class="central-container"> 
    <span class="contact100-form-symbol">
        <img src="assets/imagens/interaction-icon.png" >
    </span> 
    <h1 class="form-title text-center ">INTERAÇÕES </h1>

<form>
    <div class="form-row"> <label for="inputSemana">Semana do ano:</label></div>
    


    <div class="row">
      <div class="col form-group">
        <input #selectedDate 
              type="text"
              placeholder="Select Date"
              class="form-control"
              bsDaterangepicker
              [bsConfig]="{ isAnimated: true, dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-orange'}">
      </div>
    </div> 

<!-- Testes
    <p *ngFor="let role of userRole$ | async ; let i = index"> {{role.username}}</p>
    <p *ngFor="let role of currentRole ; let i = index"> {{role.username}}</p> 
    <p *ngFor="let int of interactionTypes$ | async ; let i = index" > {{int.interactionType}}</p> -->

  <div *ngIf="isAuthorized" class="form-group">
    <label for="inputUnidade">Unidade:</label>
    <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" [(ngModel)]="selectUnit" name="selectUnit" [disabled]="btnDisableUnit" (ngModelChange)="onChange($event)">
      <option *ngFor="let unit of units$ | async ; let i = index" value="{{unit.id}}+{{unit.nameUnit}}">{{unit.nameUnit}}</option>
    </select>
  </div>
  <div *ngIf='isAuthorized' class="form-group">
    <label for="inputAddress2">Business Manager: </label>
    <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" [(ngModel)]="selectPerson" name="selectPerson" [disabled]="btnDisable">
   <!--     <option selected>Selecione o manager</option> -->
        <option *ngFor="let man of managersbyUnit$ | async ; let i = index" value="{{man.id}}+{{man.username}}">{{man.username}}</option>
    </select>
  </div>
  <div class="form-row">
    <button type="button" class="form-add-btn" data-toggle="modal" data-target="#exampleModal"> Add interactions <img src="assets/imagens/add-icon1.png" width="20" height="20"> </button>
  </div>
  
  <table class="table mt-3" id="tableInteractions" >
    <thead class="thead-light">
      <tr >
        <th scope="col">Client</th> 
        <th scope="col">Tipo de interacao</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let col of interactionTypeRow; let i = index">
        <td>{{col.nameClient}}</td>
        <td>{{col.interaction}}</td>
        <td><button class="btn btn-danger" (click)="delRow(i)">Del</button></td>
      </tr>
    </tbody>
  </table>


<!-- Modal -->


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Interaction</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">

        <div class="dropdown show col-sm">
          <select class="custom-select my-1 mr-sm-2" type="number" id="selectionClient" [(ngModel)]="selectClient" name="selectClient">
            <option selected>Selecione o cliente</option>
            <option *ngFor="let client of clients$ | async ; let i = index" value = "{{client.id}}+{{client.name}}" >{{client.name}}</option>
            <option value="2">Andre </option>
            <option value="3">Nuno</option>
            <option value="4">Luis</option>
        </select>
        <select class="custom-select my-1 mr-sm-2" type="number" id="selectionType" [(ngModel)]="selectType" name="selectType" >
          <option *ngFor="let int of interactionTypes$ | async ; let i = index" value="{{int.id}}+{{int.interactionType}}">{{int.interactionType}}</option>
      </select>
    </div>

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"  data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="addInteraction(selectedDate.value)">Save changes</button>
      </div>
    </div>
  </div>
</div>
  <div class="form-row">
    <button (click)="sendData()" type="submit" class="form-btn">Enviar   <img src="assets/imagens/add-icon1.png" width="20" height="20"> </button>
  </div>

</form>
</div>
</div>