<div class="container-100">
  <div id="formVisible" class="central-container">
    <span class="contact100-form-symbol">
      <img src="assets/imagens/interaction-icon.png">
    </span>
    <h1 class="form-title text-center ">INTERACTIONS</h1>
    <!--ng-valid ng-dirty ng-touched-->
    <form #formularioInteraction>
      <div class="form-row"> <label for="inputSemana">Interaction Week:</label></div>

      <div class="row">
        <div class="col form-group">
          <!--LINHA 17: NGCLASS transforma a classe dependente do erro-->
          <input #selectedDate type="text" (focusin)="validateError(selectedDate.value)"
            placeholder="{{placeHolderText}}"
            [ngClass]="{'form-control' : !hasError, 'animated bounce error' : hasError}" bsDaterangepicker
            [bsConfig]="{ isAnimated: true, dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-orange'}">
        </div>
      </div>

      <div *ngIf="tokenInfo.role != 'manager' " class="form-group">
        <label for="inputUnidade">Unit:</label>
        <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref2" [(ngModel)]="selectUnit"
          name="selectUnit" [disabled]="btnDisableUnit" (ngModelChange)="onChange($event)">
          <option [ngValue]="undefined" disabled selected>Please select one unit</option>
          <option *ngFor="let unit of units$ | async ; let i = index" value="{{unit.id}}+{{unit.nameUnit}}">
            {{unit.nameUnit}}</option>
        </select>
      </div>
      <div *ngIf="tokenInfo.role != 'manager' " class="form-group">
        <label for="inputAddress2">Business Manager: </label>
        <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" [(ngModel)]="selectPerson"
          name="selectPerson" [disabled]="btnDisable" (click)="removeBorder()">
          <option [ngValue]="undefined"  disabled selected>Please select one manager</option>
          <option *ngFor="let man of managersbyUnit$ | async ; let i = index" value="{{man.id}}+{{man.name}}">
            {{man.name}}</option>
        </select>
      </div>
      <div class="container">
        <div class="row">
          <button id="myInteractions" (click)="getInteractionsByFilters()" [disabled]="btnDisableEditInt"
            class="btn btn-lg col mr-2 mb-2">
            Edit
            Interactions
            <img class="" src="assets\imagens\AddInteractions.png" width="25" height="25">
          </button>

          <button id="modalButton" (click)="checkFields(selectedDate.value)" [disabled]="btnDisableAddInt"
            class="btn btn-lg col  mb-2" data-target="#exampleModal">
            Add
            Interactions <img class="ml-2" src="assets/imagens/iconMore.png" width="25" height="25">
          </button>
        </div>
      </div>


      <table class="table mt-3 d-none" id="tableInteractions">
        <thead class="thead-light">
          <tr>
            <th scope="col">Client</th>
            <th scope="col">Type of Interactions</th>
            <th *ngIf="!btnDisableEditInt" scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let col of interactionTypeRow; let i = index">
            <td>{{col.client.name}}</td>
            <td>{{col.interactionType.interactionType}}</td>
            <td *ngIf="!btnDisableEditInt"><button id="editButton" class="btn btn-warning" (click)="triggerEditModal(i)"
                data-target="#exampleModal2" data-toggle="modal"><img src="assets/imagens/edit.png" width="25"
                  height="25"></button></td>


            <td *ngIf="!btnDisableEditInt"><button id="delButtonDB" data-target="#deleteModal" (click)="triggerModelDeleteDB(i)" data-toggle="modal" class="btn btn-danger">
              <img src="assets/imagens/trashIcon.png" width="25" height="25"></button></td>

            <td *ngIf="btnDisableEditInt"><button id="delButtonTable" class="btn btn-danger"
                (click)="delRow(i)"><img src="assets/imagens/trashIcon.png" width="25" height="25"></button></td>


          </tr>
        </tbody>
      </table>


      <!-- MODALS -->

      <!-- MODAL INTRODUCE DATA -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Interaction</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="container">
                <div class="row">

                  <div class="dropdown show col-sm">
                    <select (click)="removeBorderCliente()" class="custom-select my-1 mr-sm-2" type="number"
                      id="selectionClient" [(ngModel)]="selectClient" name="selectClient">
                      <option [ngValue]="undefined" disabled hidden selected>Select the client</option>
                      <option *ngFor="let client of clients$ | async ; let i = index"
                        value="{{client.id}}+{{client.name}}">{{client.name}}</option>
                    </select>
                    <select (click)="removeBorderInteraction()" class="custom-select my-1 mr-sm-2" type="number"
                      id="selectionType" [(ngModel)]="selectType" name="selectType">
                      <option [ngValue]="undefined" disabled hidden selected>Select the interaction</option>
                      <option *ngFor="let int of interactionTypes$ | async ; let i = index"
                        value="{{int.id}}+{{int.interactionType}}">{{int.interactionType}}</option>
                    </select>
                  </div>

                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" style="background-color:#a7a6a5; border-style: none;" class="btn btn-secondary"
                data-dismiss="modal">Close</button>
              <button type="button" style="background-color: #e46310; border-style: none;" class="btn btn-primary"
                (click)="addInteraction(selectedDate.value)">Save changes</button>
            </div>
          </div>
        </div>
      </div>
      <div>



        <div id="sendDiv" class="">
          <button (click)="sendData(selectedDate.value)" type="submit" class="btn btn-lg btn-block ">Send<img
              class="ml-2" src="assets/imagens/sendIcon.png" width="25" height="25"> </button>
        </div>
        <div id="cancelDiv" class='d-none'>
          <button (click)="cancelButton()" type="submit" class="btn btn-lg btn-block">Cancel<img class="ml-2"
              src="assets/imagens/cancel.png" width="25" height="25"> </button>
        </div>
      </div>


      <!-- MODAL EDIT INTERACTION-->

      <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Interaction</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="container">
                <div class="row">

                  <div class="dropdown show col-sm">
                    <select (click)="removeBorderCliente()" class="custom-select my-1 mr-sm-2" type="number"
                      id="selectionClient" [(ngModel)]="selectClient" name="selectClient">
                      <option [ngValue]="undefined" disabled hidden selected>Select the client</option>
                      <option *ngFor="let client of clients$ | async ; let i = index"
                        value="{{client.id}}+{{client.name}}">{{client.name}}</option>
                    </select>
                    <select (click)="removeBorderInteraction()" class="custom-select my-1 mr-sm-2" type="number"
                      id="selectionType" [(ngModel)]="selectType" name="selectType">
                      <option [ngValue]="undefined" disabled hidden selected>Select the interaction</option>
                      <option *ngFor="let int of interactionTypes$ | async ; let i = index"
                        value="{{int.id}}+{{int.interactionType}}">{{int.interactionType}}</option>
                    </select>
                  </div>

                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" style="background-color:#a7a6a5; border-style: none;" class="btn btn-secondary"
                data-dismiss="modal">Close</button>
              <button type="button" style="background-color: #e46310; border-style: none;" class="btn btn-primary"
                (click)="putInteraction()" data-dismiss="modal">Save changes</button>
            </div>
          </div>
        </div>
      </div>


      <!-- MODAL DELETE INTERACTION-->

      <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Interaction</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="container">
                <p> Are You Sure ? </p>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" style="background-color:#a7a6a5; border-style: none;" class="btn btn-secondary"
                data-dismiss="modal">Close</button>
              <button type="button" style="background-color: #e46310; border-style: none;" class="btn btn-primary"
                (click)="deleteFromDB()" data-dismiss="modal">Save changes</button>
            </div>
          </div>
        </div>
      </div>




      <swal #fireSwal positio='top-end' icon='success' title='Your interaction has been saved' showConfirmButton='false'
        timer='1500'>
      </swal>

      <swal #errorSwal positio='top-end' icon='error' title='Must fill all fields' showConfirmButton='true'
        timer='1500'>
      </swal>
    </form>
  </div>
</div>