
<div class="container-100">
<div class="central-container"> 
    <span class="contact100-form-symbol">
        <img src="assets/imagens/interaction-icon.png" >
    </span> 
    <h1 class="form-title text-center ">INTERAÇÕES </h1>

<form>
    <div class="form-row"> <label for="inputSemana">Semana do ano:</label></div>
    


    <div class="row">
      <div class="col form-group">
        <input #selectedDate 
              type="text"
              placeholder="Select Date"
              class="form-control"
              bsDaterangepicker
              [bsConfig]="{ isAnimated: true, dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-orange'}">
      </div>
    </div> 

    <p *ngFor="let role of userRole$ | async ; let i = index"> {{role.username}}</p> 

    <p *ngFor="let role of currentRole ; let i = index"> {{role.username}}</p> 


 <!--  currentUser$  | async as currentUser-->

  <div *ngIf="isAuthorized" class="form-group">
    <label for="inputUnidade">Unidade:</label>
    <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
        <option selected>Selecione a unidade</option>
        <option value="1">Unidade_A </option>
        <option value="2">Unidade_B </option>
        <option value="3">Unidade_C </option>
        <option value="3">Unidade_D </option>
        <option value="1">Unidade_E </option>
        <option value="2">Unidade_F </option>
        <option value="3">Nearshore </option>
        <option value="3">Porto </option>

    </select>
  </div>
  <div *ngIf='isAuthorized' class="form-group">
    <label for="inputAddress2">Business Manager: </label>
    <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
        <option selected>Selecione a unidade</option>
        <option value="1">Ana</option>
        <option value="2">Andrea </option>
        <option value="3">Nuno</option>
        <option value="3">Ze Carlos</option>
        <option value="1">Manuel</option>
    </select>
  </div>
  <div class="form-row">
    <button type="button" class="form-add-btn" data-toggle="modal" data-target="#exampleModal"> Add interactions <img src="assets/imagens/add-icon1.png" width="20" height="20"> </button>
  </div>
  
  <table class="table mt-3" id="tableInteractions" >
    <thead class="thead-light">
      <tr >
        <th scope="col">Client</th> 
        <th scope="col">Tipo de interacao</th>
        <th scope="col">   </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let col of interactionTypeRow; let i = index">
        <td>{{col.name}}</td>
        <td>{{col.interaction}}</td>
        <td><button class="btn btn-danger" (click)="delRow(i)">Del</button></td>
      </tr>
    </tbody>
  </table>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Interaction</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">

        <div class="dropdown show col-sm">
          <select class="custom-select my-1 mr-sm-2" type="number" id="selectionClient" [(ngModel)]="selectClient" name="selectClient">
            <option selected>Selecione o cliente</option>
            <option value="1">Ana</option>
            <option value="2">Andre </option>
            <option value="3">Nuno</option>
            <option value="4">Luis</option>
        </select>
        <select class="custom-select my-1 mr-sm-2" type="number" id="selectionType" [(ngModel)]="selectType" name="selectType">
          <option selected>Tipo de interação </option>
          <option value="5">Pedido</option>
          <option value="6">CV </option>
          <option value="7">demissao</option>
          <option value="8">haha </option>
      </select>
    </div>

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"  data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="addInteraction()">Save changes</button>
      </div>
    </div>
  </div>
</div>
  <div class="form-row">
    <button (click)="testarPrintDate(selectedDate.value)" type="submit" class="form-btn">Enviar   <img src="assets/imagens/add-icon1.png" width="20" height="20"> </button>
  </div>

</form>
</div>
</div>