<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="dashboard.component.scss" />
    <title>Dashboard</title>
  </head>
  <body>
    <div class="container-100" style="height: 90%;">
      <div class="central-container" style="height: 90%;">
        <span class="contact100-form-symbol">
          <img
            src="https://i.imgur.com/dNTBE8A.png"
            title="dashboard-icon"
            alt="dashboard-image"
          />
        </span>
        <h1 class="form-title text-center">DASHBOARD</h1>
        <div class="grid-container">
          <h1 class="mat-h1"></h1>
          <mat-grid-list cols="2" rowHeight="340px">
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <mat-card class="dashboard-card" style="text-align: center;">
                <mat-card-header style="text-align: center; justify-content: space-evenly">
                  <mat-card-title
                    [routerLink]="['/layout/dashboard/grafico1']"
                    style="cursor: pointer; text-align: center; "
                  >
                    Number of interactions per business unit
                  </mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">
                  <grafico1></grafico1>
                </mat-card-content>
              </mat-card>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <mat-card class="dashboard-card">
                <mat-card-header style="text-align: center; justify-content: space-evenly">
                  <mat-card-title
                    [routerLink]="['/layout/dashboard/grafico2']"
                    style="cursor: pointer;"
                  >
                    Number of interactions per interaction type
                  </mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">
                  <grafico2></grafico2>
                </mat-card-content>
              </mat-card>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <mat-card class="dashboard-card">
                <mat-card-header style="text-align: center; justify-content: space-evenly">
                  <mat-card-title
                    [routerLink]="['/layout/dashboard/grafico3']"
                    style="cursor: pointer;"
                  >
                    Number of sent CV's per manager
                  </mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">
                  <grafico3></grafico3>
                </mat-card-content>
              </mat-card>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <mat-card class="dashboard-card">
                <mat-card-header style="text-align: center; justify-content: space-evenly">
                  <mat-card-title
                    [routerLink]="['/layout/dashboard/grafico4']"
                    style="cursor: pointer;"
                  >
                    Interactions per client
                  </mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">
                  <grafico4></grafico4>
                </mat-card-content>
              </mat-card>
            </mat-grid-tile>
          </mat-grid-list>
        </div>
        <script
          src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
          integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
          crossorigin="anonymous"
        ></script>
        <script
          src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
          integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
          crossorigin="anonymous"
        ></script>
        <script
          src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
          integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
          crossorigin="anonymous"
        ></script>
        <!--nova-->
      </div>
    </div>
  </body>
</html>
