<div class="container-100">
  <div class="table-reponsive">

    <div class="central-container ">
      <span class="contact100-form-symbol">
        <img src="assets/imagens/estatistica.webp">
      </span>


      <h1 class="form-title text-center ">ESTATÍSTICAS </h1>

      <div class="row">
        <div class=" search col-lg-3">
          <input class="search form-control" id="inputSearch" type='text' [(ngModel)]="inputSearch"
            placeholder='O que estás à procurar?' (keyup)='updateFilter($event)'>
        </div>

      </div>
      <div class="row">
        <div class="col-sm-2 ">
          <div class="form-group">
            <label for="exampleFormControlSelect1"></label>
            <select (change)='filtro()' #myselectSemana class=" form-control selected" id="exampleFormControlSelect1">
              <option value="myselectSemana">Semana</option>
              <option *ngFor="let select of dataWeek$ | async">{{select}}</option>
            </select>
          </div>
        </div>
        <div class=" col-sm-2">
          <div class="form-group">
            <label for="exampleFormControlSelect1"></label>
            <select (change)='filtro()' #myselectUnidade class="form-control selected" id="exampleFormControlSelect1">
              <option value="myselectUnidade">Unidade</option>
              <option *ngFor="let select of dataUnities$ | async">{{select}}</option>
            </select>
          </div>
        </div>
        <div class="col-sm-2 ">
          <div class="form-group">
            <label for="exampleFormControlSelect1"></label>
            <select (change)='filtro()' #myselectClient [(ngModel)]="selectClient" class="form-control selected"
              id="myselectClient">
              <option value="myselectCliente" selected>Cliente</option>
              <option [value]='select' *ngFor="let select of dataClients$ | async">{{select}}</option>
            </select>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
            <label for="exampleFormControlSelect1"></label>
            <select (change)='filtro()' #myselectBM class="form-control selected" id="myselectBM">
              <option value="myselectBM">Business Manager</option>
              <option *ngFor="let select of dataBManagers$ | async">{{select}} </option>
            </select>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
            <label for="exampleFormControlSelect1"></label>
            <select (change)='filtro()' #myselectInteration [(ngModel)]="selectInteraction"
              class="form-control selected" id="myselectInteration">
              <option value="myselectInteration" selected>Tipo de interação</option>
              <option [value]='select' *ngFor="let select of dataInteractions$ | async">{{select}}</option>
            </select>
          </div>
        </div>


      </div>


      <div *ngIf="isFiltro">

        <ngx-datatable #table class='prefix-css material striped' [limit]="5" [rows]='filtro$ | async'
          [scrollbarV]="false" [sorts]="[{prop: 'name', dir: 'desc'}]"
          [columns]='[{prop:"dateInteraction", name:"Semana"},{prop:"unit.nameUnit", name:"Unidade"},{prop:"client.name", name:"Cliente"},{prop:"person.name", name:"Business Manager"},{prop:"interactionType.interactionType",name:"Tipo de Interação"}]'
          [columnMode]="ColumnMode.force" [headerHeight]='50' [footerHeight]='50' [rowHeight]='"auto"'>
        </ngx-datatable>



        <div class="footer row" style=" padding: 5px 10px">
          <div class="col-5"><strong> Número total de interações de:</strong> {{(filtro$ | async)?.length}}</div>
          <div class="col-4 offset-3 text-right">
            <button id="btnRefresh" (click)="refreshTabela()"
              class="btn btn-outline my-btn-orange text-white m-2 my-sm-1">Reiniciar Tabela</button>
          </div>

        </div>


      </div>

      <div *ngIf="isFiltro==false">
        <ngx-datatable #table class='prefix-css material striped' [limit]="5" [rows]='rows' [scrollbarV]="false"
          [sorts]="[{prop: 'name', dir: 'desc'}]"
          [columns]='[{prop:"dateInteraction", name:"Semana"},{prop:"unit.nameUnit", name:"Unidade"},{prop:"client.name", name:"Cliente"},{prop:"person.name", name:"Business Manager"},{prop:"interactionType.interactionType",name:"Tipo de Interação"}]'
          [columnMode]="ColumnMode.force" [headerHeight]='50' [footerHeight]='50' [rowHeight]='"auto"'>


        </ngx-datatable>

        <div class="footer row" style=" padding: 5px 10px">
          <div class="col-5"><strong> Número total de interações de:</strong> {{(rows).length}}</div>
          <div class="col-4 offset-3 text-right">
            <button id="btnRefresh" (click)="refreshTabela()"
              class="btn btn-outline my-btn-orange text-white m-2 my-sm-1">Reiniciar Tabela</button>
          </div>

        </div>

      </div>


      <!-- <ngx-datatable  #table class='material striped' [limit]="5" [rows]='rows ' [scrollbarV]="false" [sorts]="[{prop: 'name', dir: 'desc'}]"
    [columnMode]="ColumnMode.force" [headerHeight]='50'
      [footerHeight]='50' [rowHeight]='"auto"'>
    <ngx-datatable-column name="Company">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.dateInteraction}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Unidade">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.unit["nameUnit"]}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Cliente">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.client["name"]}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Business Manager">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.person["name"]}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Tipo de interação">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.interactionType["interactionType"]}}
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable> -->


    </div>
  </div>
</div>