.container-100{
    width: 100%;  
    min-height: 100vh;
    background: #e6e6e6;
    padding: 20px;
    /* z-index: -2;
    overflow: hidden; */
    position: relative;

}
.container-100::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(173,173,173,0.4);
    pointer-events: none;
    
  }
.central-container-table{
    width: 87%; 
    margin-top: 100px; 
    margin-left: auto;
    margin-right: auto;
    position: relative; 
    background: #fff;
    border-radius: 10px;
    padding: 62px 55px 90px 55px;
    border: solid #817f7f;
    border-width: 2px;
    box-shadow: 10px 10px 5px grey;
}

.form-add-btn{
    align-items: center;
    padding: 0 20px;
    width: 40%;
    height: 50px;
    background-color: darkorange;
    border-radius: 10px;
    margin-top:  auto;

}
.form-add-btn:hover {
    background-color: #00ad5f;
}
.form-btn{
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    background-color: #333333;
    border-radius: 10px;
    margin-top: 20px;
    color: #e6e6e6;
}
.form-btn:hover {
    background-color:#F95102;
}
label{
    color: #F95102;
    font-size: 20px;
}

.contact100-form-symbol {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100px;
    height: 100px;
    border: 1px solid #817f7f;
    border-radius: 50%;
    background: #fff;
    top: -45px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .contact100-form-symbol img {
    max-width: 49px;
  }
   .search{
    font-size: 1rem;
    font-weight: 400; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 4% !important;
   }
.col-sm-2{
    margin-right: 50px;
}

.selected{
    font-size: 1rem !important;
      font-weight: 500; 
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      cursor: pointer;
}
.footer{
    margin-top: 3%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;
}
.prefix-css .datatable-header-cell {
background-color: #e46310 !important;
color: #fff !important;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important; 
font-size: 1rem;
  }
  
  .prefix-css .datatable-body-cell  {
    font-size: 0.9rem!important;
  }


  @media (min-width: 950px) and (max-width: 1127px){
    .col-sm-2{
        margin-right: 20px!important;
    }
    .prefix-css .datatable-header-cell {
      font-size: 0.8rem!important;
      padding: 1%;
    }
  }
  @media (min-width: 1127px) and (max-width: 1300px){
    .col-sm-2{
      margin-right: 29px!important;
    }
    .prefix-css .datatable-header-cell {
      font-size: 1rem!important;
      padding: 1%;
    }
  }
  @media (min-width: 1300px) and (max-width: 1600px){
    .col-sm-2{
      margin-right: 29px!important;
    }
    .prefix-css .datatable-header-cell {
      font-size: 1rem!important;
      padding: 1%;
    }
  }
  @media (min-width: 1600px) and (max-width: 2400px){
    .col-sm-2{
      margin-right: 29px!important;
    }
    .prefix-css .datatable-header-cell {
      font-size: 1rem!important;
      padding: 1%;
    }
  }
  @media (min-width:855px) and (max-width: 950px){
    .col-sm-2{
        margin-right:18px!important;
    }
    .prefix-css .datatable-header-cell {
      font-size: 0.8rem!important;
      padding: 1%;
    }
  }

  @media (min-width:800px) and (max-width: 950px){
    .col-sm-2{
        margin-right:18px!important;
    }
    .prefix-css .datatable-header-cell {
      font-size: 0.7rem!important;
      padding: 1%;
    }
    .prefix-css .datatable-body-cell  {
      font-size: 0.8rem!important;
    }
    .selected{
      font-size: 0.8rem !important;
    }
  
  }
  @media (min-width:629px) and (max-width: 800px){
    .col-sm-2{
        margin-right:13px!important;
    }
    .prefix-css .datatable-header-cell {
      font-size: 0.6rem!important;
      padding: 1%;
    }
    .prefix-css .datatable-body-cell  {
      font-size: 0.7rem!important;
    }
    .selected{
      font-size: 0.7rem !important;
    }
    .col-sm-2:last-child{
      margin-right: 0!important;
    }
  }

  @media (min-width:320px) and (max-width: 667px){
    .col-sm-2{
        margin-right:13px!important;
    }
    .prefix-css .datatable-header-cell {
      font-size: 0.7rem!important;
    
    }
    .prefix-css .datatable-body-cell  {
      font-size: 0.7rem!important;
    }
    .selected{
      font-size: 0.7rem !important;
    }
  
    .container-100{
      width: 153%;
    }
  }

  .my-btn-orange {background-color:#e46310}

  .mat-tab-group.mat-primary .mat-ink-bar {background-color: #e46310}

  

