<div class="container-fluid">
  <div class="d-flex flex-row justify-content-center">
    <div class="chart-container responsive"
      style="margin-top: 8rem!important; height:50vw; width:50vw; display: relative;">

      <div>
        <div *ngIf="displayRoute()" class="container-fluid justify-content-center">
          <div class="row">
            <button class="mr-2" mat-raised-button [routerLink]="['/layout/dashboard']">Back</button>
            <h1 class="ml-2">Number of sent CV's per manager</h1>
          </div>
          
        </div>
      </div>

      <canvas id='cvChart' (click)="graphClickEvent($event)" ></canvas>
      <!-- <div>
       <div class="row justify-content-center">
          <div class="col form-group">
           LINHA 17: NGCLASS transforma a classe dependente do erro
            <input #selectedDate type="text" (focusin)="validateError(selectedDate.value)"
              placeholder="{{placeHolderText}}"
              [ngClass]="{'form-control' : !hasError, 'animated bounce error' : hasError}" bsDaterangepicker
              [bsConfig]="{ isAnimated: true, dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-orange'}">
          </div>
          <div class="col">
            <button mat-stroked-button color="primary"(click)="getCurrentDate(selectedDate.value)">Select</button>
           </div>
        </div> -->
        <mat-form-field>
                <!-- <mat-label>Semana</mat-label> -->
                <mat-select placeholder="Week" [(value)]="selected" (selectionChange)="changeWeek($event.value)"> 
                  <mat-option *ngFor="let week of weeks" [value]="week">
                    {{week}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
      </div>
    </div>
  </div>
