.btn-primary {
    color: white;
    background-color: #e46310;
    border-color: #e46310;
  }

.btn-outline-primary {
    color: #e46310;
    border-color: #e46310;
  }

.btn-primary:hover{
      background-color: #913902;
      border-color: #913902;
  }

.btn-primary:active,
.btn-primary:focus
.btn-primary:visited{
    background-color: #eca173 !important;
    border-color: #eca173 !important;
}

.btn-outline-primary:hover{
    background-color: #e46310;
    border-color: #e46310;
}

.btn-outline-primary:active,
.btn-outline-primary:focus,
.btn-outline-primary:visited{
    background-color:  #eca173 !important;
    border-color:  #eca173 !important;
}
  
.navbar li a:hover {
    border-bottom: 1px solid #e46310;
}

.navbar li a:active {
    border-bottom: 1px solid #e46310;
}

.container-100{
    width: 100%;  
    min-height: 100vh;
    background: #e6e6e6;
    padding: 20px;
    /* z-index: -2;
    overflow: hidden; */
    position: relative;

}
.container-100::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(173,173,173,0.4);
    pointer-events: none;
    
  }
.central-container{
    width: 50%; 
    margin-top: 100px; 
    margin-left: auto;
    margin-right: auto;
    position: relative; 
    background: #fff;
    border-radius: 10px;
    padding: 62px 55px 90px 55px;
    border: solid #817f7f;
    border-width: 2px;
    box-shadow: 10px 10px 5px grey;
}

.form-add-btn{
    align-items: center;
    padding: 0 20px;
    width: 40%;
    height: 50px;
    background-color: darkorange;
    border-radius: 10px;
    margin-top:  auto;

}
.form-add-btn:hover {
    background-color: #00ad5f;
}
.form-btn{
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    background-color: #333333;
    border-radius: 10px;
    margin-top: 20px;
    color: #e6e6e6;
}
.form-btn:hover {
    background-color:#F95102;
}
label{
    color: #F95102;
    font-size: 20px;
}

.contact100-form-symbol {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100px;
    height: 100px;
    border: 1px solid #817f7f;
    border-radius: 50%;
    background: #fff;
    top: -45px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .contact100-form-symbol img {
    max-width: 49px;
  }

  bs-daterangepicker-inline .theme-green .bs-datepicker-head {
    background-color: darkorange;
}

bs-daterangepicker-inline .theme-green .bs-datepicker-body table td span.selected,
bs-daterangepicker-inline .theme-green .bs-datepicker-body table td.selected span,
bs-daterangepicker-inline .theme-green .bs-datepicker-body table td span[class*="select-"]:after,
bs-daterangepicker-inline .theme-green .bs-datepicker-body table td[class*="select-"] span:after {
  background-color: darkorange; }

bs-daterangepicker-inline .theme-green .bs-datepicker-body table td.week span {
  color: darkorange; 
}
bs-daterangepicker-inline .theme-green .bs-datepicker-body table td.active-week span:hover {
    cursor: pointer;
    background-color: darkorange;;
    color: #fff;
    opacity: 0.5;
    transition: 0s; }

  @import "../node_modules/bootstrap/dist/css/bootstrap.min.css";